<div>
    <p>You joined a Spark master at <a ng-href="http://{{master_url}}" target="new">{{master_url}}</a>. Slaves connected: {{slaves}}</p>
    <div ng-if="!env.virtual">
        <p ng-if="slave_owner.active">Your Spark slave is at: <a ng-href="http://{{slave_ip}}:8081" target="new">{{slave_ip}}:8081</a>.</p>
        <p ng-if="hdfs.active">The HDFS web interface is active at <a ng-href="http://{{hdfs_ip}}:50070" target="new">{{hdfs_ip}}:50070</a>.</p>
    </div>
    <div ng-if="env.virtual">
        <p ng-if="slave_owner.active">Your Spark slave is at: <a ng-href="http://{{ip.value}}:8081" target="new">http://{{ip.value}}:8081</a>.</p>
        <p ng-if="hdfs.active">The HDFS web interface is active at <a ng-href="http://{{hdfs_ip}}:50070" target="new">{{hdfs_ip}}:50070</a>.</p>
    </div>
    <div ng-include src="'/templates/upload.html'">
</div>


